# Import data from TXT files

In [1]:
# import time
# start_time = time.process_time()

# import pandas as pd
# df_ps1 = pd.read_csv("data/PS1.txt", header=None, delim_whitespace=True)
# df_ps2 = pd.read_csv("data/PS2.txt", header=None, delim_whitespace=True)
# df_ps3 = pd.read_csv("data/PS3.txt", header=None, delim_whitespace=True)
# df_ps4 = pd.read_csv("data/PS4.txt", header=None, delim_whitespace=True)
# df_ps5 = pd.read_csv("data/PS5.txt", header=None, delim_whitespace=True)
# df_ps6 = pd.read_csv("data/PS6.txt", header=None, delim_whitespace=True)
# df_eps1 = pd.read_csv("data/EPS1.txt", header=None, delim_whitespace=True)
# df_fs1 = pd.read_csv("data/FS1.txt", header=None, delim_whitespace=True)
# df_fs2 = pd.read_csv("data/FS2.txt", header=None, delim_whitespace=True)
# df_ts1 = pd.read_csv("data/TS1.txt", header=None, delim_whitespace=True)
# df_ts2 = pd.read_csv("data/TS2.txt", header=None, delim_whitespace=True)
# df_ts3 = pd.read_csv("data/TS3.txt", header=None, delim_whitespace=True)
# df_ts4 = pd.read_csv("data/TS4.txt", header=None, delim_whitespace=True)
# df_vs1 = pd.read_csv("data/VS1.txt", header=None, delim_whitespace=True)
# df_ce = pd.read_csv("data/CE.txt", header=None, delim_whitespace=True)
# df_cp = pd.read_csv("data/CP.txt", header=None, delim_whitespace=True)
# df_se = pd.read_csv("data/SE.txt", header=None, delim_whitespace=True)
# df_profile = pd.read_csv("data/profile.txt", header=None, delim_whitespace=True)

# end_time = time.process_time()
# print(end_time - start_time, "seconds")

49.84375 seconds

In [2]:
# data_list = [
#     df_ps1, df_ps2, df_ps3, df_ps4, df_ps5, df_ps6, df_eps1, df_fs1, df_fs2,
#     df_ts1, df_ts2, df_ts3, df_ts4, df_vs1, df_ce, df_cp, df_se, df_profile
# ]

# for x in data_list:
#     print(x.shape)

(2205, 6000)
(2205, 6000)
(2205, 6000)
(2205, 6000)
(2205, 6000)
(2205, 6000)
(2205, 6000)
(2205, 600)
(2205, 600)
(2205, 60)
(2205, 60)
(2205, 60)
(2205, 60)
(2205, 60)
(2205, 60)
(2205, 60)
(2205, 60)
(2205, 5)

In [3]:
# Define a function to return name of a variable as string

import inspect

def retrieve_name(var):
        """
        Gets the name of var. Does it from the out most frame inner-wards.
        :param var: variable to get name from.
        :return: string
        """
        for fi in reversed(inspect.stack()):
            names = [var_name for var_name, var_val in fi.frame.f_locals.items() if var_val is var]
            if len(names) > 0:
                return names[0]

# Save the dataframes to csv files

In [4]:
# # Save the dataframes to csv files

# for x in data_list:
#     x.to_csv('data/csv/'+retrieve_name(x)[3:]+'.csv', header=False, index=False)

# Import data from CSV Files

In [5]:
import time
start_time = time.process_time()

import pandas as pd
df_ps1 = pd.read_csv("data/csv/PS1.csv", header=None)
df_ps2 = pd.read_csv("data/csv/PS2.csv", header=None)
df_ps3 = pd.read_csv("data/csv/PS3.csv", header=None)
df_ps4 = pd.read_csv("data/csv/PS4.csv", header=None)
df_ps5 = pd.read_csv("data/csv/PS5.csv", header=None)
df_ps6 = pd.read_csv("data/csv/PS6.csv", header=None)
df_eps1 = pd.read_csv("data/csv/EPS1.csv", header=None)
df_fs1 = pd.read_csv("data/csv/FS1.csv", header=None)
df_fs2 = pd.read_csv("data/csv/FS2.csv", header=None)
df_ts1 = pd.read_csv("data/csv/TS1.csv", header=None)
df_ts2 = pd.read_csv("data/csv/TS2.csv", header=None)
df_ts3 = pd.read_csv("data/csv/TS3.csv", header=None)
df_ts4 = pd.read_csv("data/csv/TS4.csv", header=None)
df_vs1 = pd.read_csv("data/csv/VS1.csv", header=None)
df_ce = pd.read_csv("data/csv/CE.csv", header=None)
df_cp = pd.read_csv("data/csv/CP.csv", header=None)
df_se = pd.read_csv("data/csv/SE.csv", header=None)
df_profile = pd.read_csv("data/csv/profile.csv", header=None)

end = time.process_time()
print (end-start_time, "seconds")

29.078125 seconds

In [ ]:
'''
Attribute Information:
The data set contains raw process sensor data (i.e. without feature extraction) which 
are structured as matrices (tab-delimited) with the rows representing the cycles and 
the columns the data points within a cycle. The sensors involved are:

Sensor Physical quantity Unit Sampling rate
PS1 Pressure bar 100 Hz
PS2 Pressure bar 100 Hz
PS3 Pressure bar 100 Hz
PS4 Pressure bar 100 Hz
PS5 Pressure bar 100 Hz
PS6 Pressure bar 100 Hz
EPS1 Motor power W 100 Hz
FS1 Volume flow l/min 10 Hz
FS2 Volume flow l/min 10 Hz
TS1 Temperature Â°C 1 Hz
TS2 Temperature Â°C 1 Hz
TS3 Temperature Â°C 1 Hz
TS4 Temperature Â°C 1 Hz
VS1 Vibration mm/s 1 Hz
CE Cooling efficiency (virtual) % 1 Hz
CP Cooling power (virtual) kW 1 Hz
SE Efficiency factor % 1 Hz
'''

In [6]:
data_list = [
    df_ps1, df_ps2, df_ps3, df_ps4, df_ps5, df_ps6, df_eps1, df_fs1, df_fs2,
    df_ts1, df_ts2, df_ts3, df_ts4, df_vs1, df_ce, df_cp, df_se, df_profile
]

for x in data_list:
    print(x.shape)

(2205, 6000)
(2205, 6000)
(2205, 6000)
(2205, 6000)
(2205, 6000)
(2205, 6000)
(2205, 6000)
(2205, 600)
(2205, 600)
(2205, 60)
(2205, 60)
(2205, 60)
(2205, 60)
(2205, 60)
(2205, 60)
(2205, 60)
(2205, 60)
(2205, 5)

In [8]:
len(data_list)

18

In [16]:
# Assigning column headers to df_profile

profile_headers = [
    'Cooler condition / %', 'Valve condition / %', 'Internal pump leakage',
    'Hydraulic accumulator / bar', 'stable flag'
]

df_profile.columns = profile_headers
df_profile

,Cooler condition / %,Valve condition / %,Internal pump leakage,Hydraulic accumulator / bar,stable flag
0,3,100,0,130,1
1,3,100,0,130,1
2,3,100,0,130,1
3,3,100,0,130,1
4,3,100,0,130,1
...,...,...,...,...,...
2200,100,100,0,90,0
2201,100,100,0,90,0
2202,100,100,0,90,0
2203,100,100,0,90,0
2204,100,100,0,90,0

In [14]:
'''

The target condition values are cycle-wise annotated in â€˜profile.txtâ€˜ (tab-delimited).
As before, the row number represents the cycle number. The columns are

1: Cooler condition / %:
3: close to total failure
20: reduced effifiency
100: full efficiency

2: Valve condition / %:
100: optimal switching behavior
90: small lag
80: severe lag
73: close to total failure

3: Internal pump leakage:
0: no leakage
1: weak leakage
2: severe leakage

4: Hydraulic accumulator / bar:
130: optimal pressure
115: slightly reduced pressure
100: severely reduced pressure
90: close to total failure

5: stable flag:
0: conditions were stable
1: static conditions might not have been reached yet

'''

,Cooler condition / %,Valve condition / %,Internal pump leakage,Hydraulic accumulator / bar,stable flag
0,3,100,0,130,1
1,3,100,0,130,1
2,3,100,0,130,1
3,3,100,0,130,1
4,3,100,0,130,1
...,...,...,...,...,...
2200,100,100,0,90,0
2201,100,100,0,90,0
2202,100,100,0,90,0
2203,100,100,0,90,0
2204,100,100,0,90,0